<ul class="sidebar-menu">

    <li class="active"><a href="<?=base_url()?>admin"><i class="fa fa-dashboard"></i><span>Anasayfa</span></a></li>

    <li class="treeview"><a href="<?=base_url()?>admin/home/kullanici_listesi"><i class="fa fa-laptop"></i><span>kullanıcılar</span><i class="fa fa-angle-right"></i></a>

    <li class="treeview"><a href="<?=base_url()?>admin/uyeler"><i class="fa fa-laptop"></i><span>Üyeler</span><i class="fa fa-angle-right"></i></a>

    <li><a href="<?=base_url()?>admin/Home/mesajlar_listesi/"><i class="fa fa-pie-chart"></i><span>Mesajlar</span></a></li>

    <li><a href="<?=base_url()?>admin/Home/kategori_listesi/"><i class="fa fa-pie-chart"></i><span>kategoriler</span></a></li>







    </li>

    <li><a href="<?=base_url()?>admin/urunler"><i class="fa fa-pie-chart"></i><span>Ürünler</span></a></li>

    <li><a href="<?=base_url()?>admin/Home/siparisler_listesi"><i class="fa fa-pie-chart"></i><span>siparisler</span></a></li>

    <li><a href="<?=base_url()?>admin/Home/yorumlar_listesi"><i class="fa fa-pie-chart"></i><span>yorumlar</span></a></li>





    <li class="treeview"><a href="<?=base_url()?>admin/home/ayarlar"><i class="fa fa-circle-o"></i> Ayarlar</a></li>

</ul>
