{% extends 'frontbase.html.twig' %}

{% block title %}Edit User{% endblock %}
{% block body %}


<ul class="breadcrumb">
    <li><a href="{{ path('home') }}">Home</a><span class="divider"></span></li>
    <li><a href=" ">Home</a><span class="divider"></span></li>
    <li class="active">Preview</li>
</ul>
<div class="well well-small">
    <div class="row-fluid">
        <h1>Edit</h1>
        {{ include('userpanel/_form.html.twig',{'button_label' : 'Update'}) }}
    </div>
</div>


{% endblock %}
