{% extends 'adminbase.html.twig' %}

{% block title %}Shopping Admin Panel{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="page-title">
            <div>
                <h1><i class="fa fa-dashboard"></i> Admin Panel</h1>
                <p>Admin Page</p>
            </div>
            <div>
                <ul class="breadcrumb">
                    <li><i class="fa fa-home fa-lg"></i></li>
                    <li><a href="#">Page</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">Load Your Data Here</div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
