{% extends 'adminbase.html.twig' %}

{% block title %}Kategori Ekleme{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="page-title">
        <div>
            <h1>
                Kategori Ekleme

            </h1>

        </div>
        <div>
            <ul class="breadcrumb">
                <li><i class="fa fa-home fa-lg"></i></li>
                <li><a href="#">Kategori Ekleme</a></li>
            </ul>
        </div>
    </div>
    <div class="card">
        <h3 class="card-title">Kategori Tablosu</h3>

    {{ include('admin/category/_form.html.twig') }}

    <a href="{{ path('admin_category_index') }}">back to list</a>
{% endblock %}
