{% extends 'base.html.twig' %}

{% block title %}New Orders{% endblock %}

{% block body %}

    <ul class="breadcrumb">
        <li><a href="{{ path('home') }}">Anasayfa</a> <span class="divider">/</span> </li>
        <li><a href="">Order Items</a> <span class="divider">/</span> </li>
        <li class="active">Preview</li>
    </ul>
    <div class="well well-small">
        <div class="row-fluid">
            <h5>Order Items</h5>
            {{ include('orders/_form.html.twig') }}
        </div>
    </div>


{% endblock %}
